@model IEnumerable<midterm_project.Models.Pet>

@{
	ViewData["Title"] = "View All Pets";
}

<h1>View All Pets</h1>

<div class="row">
	@foreach (var pet in Model) {
		<div class="card col-4" style="width: 18rem;">
			<img src="@Url.Content($"{pet.ImgUrl}")" class="card-img-top" />
			<div class="card-body">
				<h5 class="card-title">@pet.Name</h5>
				<p class="card-text">@pet.Description</p>
				<a
					class="btn btn-sm btn-primary"
					asp-controller="Pet"
					asp-action="Details"
					asp-route-id="@pet.Id"
				>Details</a>
				<a
					class="btn btn-sm btn-primary"
					asp-controller="Pet"
					asp-action="Edit"
					asp-route-id="@pet.Id"
				>Edit</a>
				<a
					class="btn btn-sm btn-danger"
					asp-controller="Pet"
					asp-action="Delete"
					asp-route-id="@pet.Id"
				>Delete</a>
			</div>
		</div>
	}
	<div class="row">
		<span>
			<a
				class="btn btn-primary"
				asp-controller="Pet"
				asp-action="Create"
			>Create New</a>
		</span>
	</div>
</div>
